.bottom-section>* {
    display: inline-block;
    vertical-align: middle;
}

.bottom-section .btn {
    margin-left: 5px;
}

.bottom-section .progress {
    width: 50%;
    height: 30px;
    margin: 0;
}

.bottom-section .progress-bar {
    padding-top: 5px;
}